amqp==5.3.1
annotated-types==0.8.0
apify_fingerprint_datapoints==0.15.0
asgiref==3.12.1
async-timeout==5.0.1
billiard==4.2.4
browserforge==1.2.4
cachetools==7.1.8
celery==5.6.3
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
crawlee==1.10.0
cron-descriptor==1.4.5
Django==6.0.8
django-celery-beat==2.9.0
django-timezone-field==7.2.2
djangorestframework==3.18.1
filelock==3.32.6
greenlet==3.5.5
idna==3.19
impit==0.14.1
kombu==5.6.2
more-itertools==11.1.0
multidict==6.8.0
packaging==26.3
playwright==1.62.0
prompt_toolkit==3.0.53
propcache==0.5.2
Protego==0.6.2
psutil==7.2.2
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
pyee==13.0.1
python-crontab==3.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
redis==8.1.0
requests==2.34.2
requests-file==3.0.1
six==1.17.0
sqlparse==0.6.0
tldextract==5.3.2
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.3
yarl==1.24.5
